<a href="https://colab.research.google.com/github/ShauryaSingh14/ML-Course/blob/ml/Assignment1_Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:

In [ ]:
L = [11, 12 , 13 , 14]
#1.WAP to add 50 and 60 to L. 
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

In [ ]:
#2. WAP to remove 11 and 13 from L.
L.remove(11)
L.remove(13)
L

[12, 14, 50, 60]

In [ ]:
#3. WAP to sort L in ascending order
L.sort()
print(L)
#4. WAP to sort L in descending order
L.sort(reverse=True)
print(L)

[12, 14, 50, 60]
[60, 50, 14, 12]

In [ ]:
#5. WAP to search for 13 in L
print(13 in L)
#6. WAP to count the number of elements present in L
print(len(L))
#7. WAP to sum all the elements in L
print(sum(L))

False
4
136

In [ ]:
#8.WAP to sum all ODD numbers in L.
Odd = [i for i in L if i%2 != 0]
print(Odd)
#9. WAP to sum all EVEN numbers in L.
Even = [i for i in L if i%2 == 0]
print(Even)

[]
[60, 50, 14, 12]

In [ ]:
#10. WAP to sum all PRIME numbers in L
# for num in L:
#   if(num>1):
#     for i in range(2,num):
#       if (num % i) == 0:
#         break
#       else:
#         print(L)

In [ ]:
#11. WAP to clear all the elements in L.
L.clear()
#12. WAP to delete L
del L

QUESTION 2

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
#1. WAP to add new entry in D; key=8 and value is 8.8
D[8] = 8.8
#2. WAP to remove key=2.
D.pop(2)
#3. WAP to check weather 6 key is present in D.
print(6 in D)
#4. WAP to count the number of elements present in D.
print(len(D))

False
5

In [ ]:
#5. WAP to add all the values present D.
print(sum(D))
#6. WAP to update the value of 3 to 7.1.
D[3] = 7.1
#7. WAP to clear the dictionary.
D.clear()

21

Question 3.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
#1. WAP to add 55 and 66 in Set S1.
S1.add(55)
S1.add(66)
#2. WAP to remove 10 and 30 from Set S1.
S1.remove(10)
S1.remove(30)
#3. WAP to check whether 40 is present in S1.
print(40 in S1)

True

In [ ]:
#4. WAP to find the union between S1 and S2.
print(S1.union(S2))
#5. WAP to find the intersection between S1 and S2.
print(S1.intersection(S2))
#6. WAP to find the S1 - S2.
print(S1 - S2)

{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

In [ ]:
import random as r
import string as s
#1. WAP to print 100 random strings whose length between 6 and 8. NOT Properly Done
ls = []
for i in range(0,100):
  str = r.sample(s.ascii_letters,6)
  str ="".join(str)
  ls.append(str)
print(ls)

['LnDxBp', 'FDbkyw', 'ViHROx', 'Iswyhz', 'yoLXFn', 'hXxepK', 'rgMHQA', 'zhKQTZ', 'iQlpUk', 'MrwRSt', 'mlzXiZ', 'YEZkQx', 'DbEXHR', 'ImxNHZ', 'iDdplo', 'TRJHbN', 'nxjvpW', 'QdCpVR', 'VMIXuw', 'bDKoTA', 'nPGXbq', 'taxFwN', 'UERTSD', 'NiCgOY', 'gdmxVZ', 'kmVWPJ', 'SWJElC', 'UnscPT', 'zmujqT', 'HzlMDW', 'kYPrDg', 'Sncbvx', 'KmHDeG', 'cahfdQ', 'wGtLnN', 'oxdWtP', 'KlnpUd', 'troAmX', 'yTPgxH', 'tERObd', 'uxfRIJ', 'pgLjSi', 'QPmjzL', 'MCEwiA', 'vksMIm', 'hBQRuc', 'DMZwTe', 'HsyQwr', 'eSqCgk', 'ZKhwbp', 'pMOFod', 'yrjcih', 'sKnJrG', 'vaGnck', 'oSCxBP', 'jhqMxw', 'CKrqki', 'MSPFHa', 'VJvfQh', 'TIXwRU', 'oVtJIB', 'QkTSxh', 'XHpMEx', 'wsUfKL', 'CLEHxg', 'cdErKV', 'tTznaC', 'ixcdHM', 'jWrXfB', 'XdpJoA', 'KGAXli', 'SjNhkP', 'bRkcNG', 'MbuRoH', 'ePTLYm', 'saIjhB', 'YMuGEL', 'mEKqPt', 'NuaObj', 'OSaTYD', 'oTnruv', 'MOCEpa', 'gfdIti', 'ZBVtkf', 'qEvjUH', 'twuCNb', 'MYTquK', 'tFvhXS', 'gthBlS', 'CjnKyk', 'syPTcb', 'TsYDHP', 'NPGUng', 'zvCTdP', 'BJExcL', 'TGbXaF', 'ZRUyAu', 'fpCJex', 'eAmdDi', 'tqSsTE']